*{
    background-color: rgb(247, 64, 60);
    margin: 0%;
    padding: 0%;
}
#a{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
text-align: end;
color: aqua;
}
#b{
       font-family: "Stack Sans Text", sans-serif;
font-weight: 100;  

    text-align: end;
}
#c{
    font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
text-align: end;
}
#d{
    font-style: italic;
      font-family: "Roboto Condensed", sans-serif;
      text-align: end;
}
#e{
     font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
text-align: end;
}
#f{
    font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
text-align: end;
}
#g{
  font-family: "Stack Sans Text", sans-serif;
        font-size:20px;
        color: aquamarine;
}
#h{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;  

}
#i{
            font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#j{
       font-style: italic;
      font-family: "Roboto Condensed", sans-serif;  

}
#m{
    font-family: "Stack Sans Text", sans-serif;
    font-size:20px;
    color: aquamarine;
}
#n{
        font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#z{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#o{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#p{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#k{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#l{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#q{
         font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#r{  font-family: "Stack Sans Text", sans-serif;
        font-size:20px;
        color: aquamarine;
    
}
#s{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#t{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#u{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#v{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#w{
      font-family: "Stack Sans Text", sans-serif;
font-weight: 100;
}
#y{
      text-decoration: underline;
}
#sh{
text-decoration: underline;
}
