
#font1{
font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}
#font2{
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sheet{
   font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.style{
   font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bhai{
   font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

